<!-- HEADER -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% extends "base.html" %}

{% block header %}
<header>
    <A name="top"></A>
<h1>Alex Kearney</h1>
<h2>I make things.</h2>
    <div class="nav">
        <A class="nav-button" href="#experience">Experience</A>
        <A class="nav-button" href="#projects">Projects</A>
        <A class="nav-button" href="#awards">Trophy Cabinet</A>
        <A class="nav-button" href="#education">Education</A>
        <A class="nav-button" href="#skills">Skills</A>
        <A class="nav-button" href="#groups">Groups</A>
        <A class="nav-button" href="#contact">Contact</A>
    </div>
</header>
{% endblock %}

{% block body %}
<body>
    <p class="to-top-wrapper" ><A href="#top"><i class="fa fa-arrow-circle-o-up"></i></A></p>
    <!-- ABOUT ME / PROFILE -->
    <section class="profile">
        <div class="content-wrapper clearfix">
            <img src="{{ url_for('static', filename = 'img/profile-generic.jpg') }}"
                 alt="Alex Kearney"
                 style="width: 200px; height: 200px;">
            <div class="summary">
                <h2>Hello.</h2>
                <p>I'm a computer science student currently wading through my undergraduate studies at the University of Edinburgh. This site is still a work in progress; hang-tight..</p>
            </div>
        </div>
    </section>

    <!-- WORK EXPERIENCE -->
    <section class="work-experience">
        <A name="experience"></A>
        <div class="content-wrapper">
            <p class="icon-topper"><i class="fa fa-briefcase"></i></p>
            <h2>Things I've done.</h2>
            <div class="item clearfix">
                <div class="details">
                    <h4 class="company">University of Alberta</h4>
                    <h3>Rehabilitation Robotics Intern</h3>
                    <h4 class="date">Summer 2014 - 2015</h4>
                    <h3>Reinforcement Learning & Artificial Intelligence Intern</h3>
                    <h4 class="date">Summer 2013</h4>
                    <h3>High School Intern</h3>
                    <h4 class="date">Summer 2011 - 2012</h4>
                </div>
                <div class="description">
                    <p>
                        <strong>Artificial Intelligence & Rehabilitation Robotics Intern:</strong><br>
                        During my four month placement I designed and ran novel experiments for contextual learning on a myoelectric prosthetic---or, powered artificial limb. I designed and implemented control system for use on both amputees and able-bodied subjects. Using contextual learning, the arm was able to learn about the user in real-time as they were interacting with their prosthetic: it was able to adapt predictions to new situations while maintaining knowledge of previous tasks.
                    </p>
                    <p>
                        During my four month placement I extended the BENTO Arm---a bionic limb for amputees. I created a simplified system for people of varying programming levels to implement machine learning experiments in real-time, enabling the prosthetic to learn about its wearer in real-time through interaction with their environment.
                    </p>

                    <p>
                        <strong>High School Intern:</strong><br>
                        For two years I participated in the Highschool Internship Programme at the University of Alberta: a six-week research placement in the Reinforcement Learning and Artificial Intelligence lab.During my first internship I and another intern devised an experiment to explore how having RL agent's learn from each other's actions improved learning. During my second internship I independently built a background subtraction program for the and made stand-alone applications for demonstrations during lab tours. I gave presentations for people of varying background knowledge in computing.
                    </p>
                </div>
            </div><!-- close .item -->

            <div class="item clearfix">
                <div class="details">
                    <h4 class="company">University of Edinburgh</h4>
                    <h3>Hackathon Coordinator</h3>
                    <p class="date">2014</p>
                </div>
                <div class="description">
                    <p>
                        ILWHACK is hackathon which spans the whole of innovative learning week at the University of Edinburgh. As student coordinator I organized catering, venues, and sponsorship.
                    </p>
                </div>
            </div><!-- close .item -->
        </div>
    </section>

    <!-- AWARDS -->
    <section class="awards">
        <A name="awards"></A>
        <div class="content-wrapper clearfix">
            <p class="icon-topper"><i class="fa fa-trophy icon-topper"></i></p>
            <h2>Things I've won. </h2>

            <div class="details">
                <h3>Google Anita Borg Memorial Scholarship: EMEA</h3>
                <h3>Lovelace Colloquium: People's Choice Award.</h3>
                <h3>Most Surprising Project: Object Oriented Programming Competition.</h3>
                <h3>Advanced Placement Scholar & Advanced Placement Scholar With Distinction</h3>
            </div>
            <div class="description">
                <p>
                    <strong>A scholarship for 40 women in techonology from Europe, the Middle East, and Africa</strong>

                </p>
            </div>
        </div>
    </section>


    <!-- PROJECTS -->
    <section class="projects">
        <A name="projects"></A>
        <div class="content-wrapper">
            <p class="icon-topper"><i class="fa fa-wrench"></i></p>
            <h2>Things I've made.</h2>

        </div>
    </section>

    <!-- EDUCATION -->
    <section class="education">
        <A name="education"></A>
        <div class="content-wrapper">
            <p class="icon-topper"><i class="fa fa-graduation-cap"></i></p>
            <h2>Things I've studied.</h2>

            <div class="item">
                <h3>University of Edinburgh, expected 2016</h3>
                <h4>Artificial Intelligence and Computer Science</h4>
                <p>
                    Description and/or awards. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptas architecto asperiores, natus qui quod suscipit quae, dolorum. Provident minus doloremque a deserunt quam saepe error quibusdam explicabo, possimus aliquam.
                </p>
            </div>
            <div class="item">
                <h3>Brentwood College School, 2012</h3>
                <h4>Honours Highschool Diploma, B.C.</h4>
                <p>
                    Description and/or awards. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section class="skills">
        <A name="skills"></A>
        <div class="content-wrapper clearfix">
            <p class="icon-topper"><i class="fa fa-star"></i></p>
            <h2>Skills</h2>

            <div class="skills-list">
                <h3>List Option / Title</h3>

                <div class="columns">
                    <h4>Best at:</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>Python</li>
                        <li><i class="fa fa-check"></i>Java</li>
                    </ul>
                </div>

                <div class="columns">
                    <h4>Worked with:</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>Prolog</li>
                        <li><i class="fa fa-check"></i>Haskell</li>
                        <li><i class="fa fa-check"></i>C</li>
                    </ul>
                </div>

                <div class="columns">
                    <h4>Learning:</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>PostgresSQL</li>
                        <li><i class="fa fa-check"></i>HTML</li>
                        <li><i class="fa fa-check"></i>CSS</li>
                        <li><i class="fa fa-check"></i>Django</li>
                        <li><i class="fa fa-check"></i>Flask</li>
                    </ul>
                </div>
            </div><!-- close .skills-list -->
        </div>
    </section>


    <!-- GROUPS -->
    <section class="groups">
        <A name="groups"></A>
        <div class="content-wrapper clearfix">
            <p class="icon-topper"><i class="fa fa-users"></i></p>
            <h2>Things that matter.</h2>
            <div class="details">
                <h2>Edinburgh University Hoppers</h2>
                <h3>President | 2014-2016</h3>
                <h2>Edinburgh University SocieTEA</h2>
                <h3>Vice-president, Teah Historian | 2015, 2014</h3>
                <h2>Scuba-diving</h2>
                <h2>Model United Nations</h2>
            </div>
            <div class="description">
                <p>
                    Hoppers is the University of Edinburgh's women's computing club. We're a community that provides support
                    for women in computing by providing technical workshops and talks throughout the year. I've been a
                    part of the commitee since 2013 and president since 2014. If you're interested in participating, either
                    as a member or by giving talks, drop us a line at edinburghhoppers@gmail.com. More information is
                    available on <a href="http://hoppers.inf.ed.ac.uk/">our site.</a>
                </p>
                <p>
                    The most calm society at the University of Edinburgh. Every thursday we enjoy tea, biscuits, and
                    good company every thursday in chaplaincy. During the 2013/2014 academic year I was the tea historian,
                    and I am the vice president for the 2015/2016 academic year. You can find out more about the society
                    on our <a href="http://edinburghsocietea.co.uk/">web page</a>.
                </p>
                <p>A society for women studying technology at the University of Edinburgh</p>

                <p>It was blogged about by my high school: <br>
                    <a href="http://www.brentwood.bc.ca/news/single-page-news/article/muddle-un/"> VANMUN 2012</a>,
                    <a href="http://www.brentwood.bc.ca/news/single-page-news/article/brentwood-delegates-are-tops-at-vancouver-model-un/">VANMUN 2011</a>,
                    <a href="http://www.brentwood.bc.ca/news/single-page-news/article/uvic-model-united-nations/">VICMUN 2011</a>,
                    <a href="http://www.brentwood.bc.ca/news/single-page-news/article/decorum-delegates-vicmun-2010/">VICMUN 2010</a>,
                    <a href="http://www.brentwood.bc.ca/news/single-page-news/article/brentwood-juniors-gab-for-gold-at-the-glenlyon-norfolk-start-up-debate/"> and my first debate tournament!</a>
                </p>
            </div>

        </div>
    </section>

    <!-- CONTACT INFO -->
    <section class="contact">
        <div class="content-wrapper clearfix">
            <A name="contact"></A>
            <h2>Let's chat.</h2>

            <div class="social">
                <a href="mailto:kearney@ualberta.ca"><i class="fa fa-envelope"></i></a>
                <a href="https://twitter.com/AlexKKearney" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://ca.linkedin.com/pub/alexandra-kearney/52/22/591" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                <!--<a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>-->
                <a href="https://github.com/Kongaloosh" title="Github"><i class="fa fa-github-alt"></i></a>
                <!--<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <a href="https://plus.google.com/+AlexandraKearney/" title="Google+"><i class="fa fa-google-plus"></i></a>
            </div>

            <p><a href="mailto:hello@your-email.com">kearney@ualberta.ca</a></p>
            <!--<p>416.123.4567</p>-->
            <p>
                Edinburgh, Scotland <br>
                or <br>
                Edmonton, Alberta, Canada
            </p>

            <footer>
                <p class="copyright">Copyright &#169; 2015 Alexandra Kearney</p>
            </footer>
        </div>
    </section>
</body>
{% endblock %}
